.product-list {
  text-align: center;
  margin-top: 50px;
 
}
.product-list ul li {
  display: inline-block;
  width: 150px;
  border: 1px solid rgb(32, 181, 240);
  padding: 10px;
  height: 30px;
  text-decoration: none;
 
}
.product-list ul {
  margin: 0;

}
.button {
  border: 1px solid black;
  color: black;
  background-color: #2ee6e6;
  border-radius: 10px;
  height: 20px;
  width: 60px;
}
.button:hover {
  background-color: darkred;
  transition: 0.7s;
  color: white;
}
.Btn-update{
  height: 20px;
  width: 60px;
  margin: 0;
  background-color: #2ee6e6;
  color: black;
  border-radius: 8px;
  margin-left: 7px;
  border: 0px;
  border: 1px solid black;

  
}
.Btn-update:hover{
  background-color: lightsalmon;
  color: white;
}
