.footer {
  /*
  position: absolute;
  background-color: #72bff0;
  bottom: 0;
  text-align: center;
  width: 100%;
*/

  background-color: #7f0747;
  position: relative;
  bottom: 0;
  color: white;
  font-size: 25px;
  text-align: center;
  box-sizing: inherit;
  height: 46px;



}