.nav-ul {
  padding: 16px;
  margin: 0;
  display: flex;
  background-color: #880E4F;
  list-style-type: none;
}
.nav-ul li a {
  text-decoration: none;
  color: black;
  height: 10px;

}

.nav-link-right li a {
  position: relative;
  left: 87em;
}
.signup {
  margin-right: -15px;
  border-radius: 8px;
  background-color: darkgreen;
  color: white;
  height: 35px;
  border-width: 0;
}

.login {
  margin-right: 0x;
  border-radius: 5px;
  background-color: #0047ab;
  color: white;
  height: 35px;
  border-width: 0;
}
.signup:hover,
.signup:active {
  background-color: white;
  transition: 0.7s;
  color: darkgreen;
    
}
.login:hover {
  background-color: white;
  color: #0047ab;
  transition: 0.7s;
}
.Btn-1{
  background-color: white;
  border-radius: 10px;
  height: 30px;
  border-color: #880E4F;
  border: 1px solid #1c1c59;

}
.Btn-1:hover{
  background-color: deepskyblue;
  color: white;
}
