.product-list {
  text-align: center;
  background-color: aqua;
  overflow-x:auto;
  width: 100%;

 }

.btn-delete {
  border: 1px solid black;
  color: black;
  background-color: aqua;
  border-radius: 10px;
  height: 30px;
  margin-top: 4px;
  margin-bottom: 4px;
  cursor: pointer;
 
}

{/* button css*/}
.btn-delete:hover {
  background-color: darkred;
  transition: 0.7s;
  color: white;
}
.Btn-update{
  background-color: aqua;
  color: black;
  border-radius: 8px;
  margin-left: 7px;
  border: 0px;
  border: 1px solid black;
  text-decoration: none;
  height: 30px;
  cursor: pointer;

  
}
.Btn-update:hover{
  background-color: lightsalmon;
  color: white;
}
.table{
  margin-left: auto;
  margin-right: auto;
  overflow-x:auto;
  width: 100%;
}
.tbody:hover{
  background-color: grey;
  color: white;
 
}
.table, th, td{
  border: 1px solid black;
}
.table,th , td{

  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
}
.search-product-box{
  margin: 20px;
  width:400px;
  height: 35px;
  text-align: center;
  color: black;
  border: solid 1px black;

}