.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 86vh;
  background: url(./wp3537557-e-commerce-wallpapers.jpg);
  background-size: cover;

}

.Auth-form {
  align-items: center;
  width: 420px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.33);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  font-size: 50px;
  color: black;
  font-weight: 400;
}

label {
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 14 px;
  font-weight: 600;
  color: black;
}

.signup-btn {
  padding: 7px;
  border: 1px solid #1c1c59;
  border-radius: 10px;
  background-color: skyblue;
  color: white;
  width: 76px;
  font-size: 15px;
  margin: 2px;
}

.signup-btn:hover {
  background-color: darkgreen;
}

.reset {
  padding: 7px;
  border: 1px solid #1c1c59;
  border-radius: 10px;
  background-color: skyblue;
  color: white;
  width: 76px;
  font-size: 15px;
}

.reset:hover {
  background-color: darkred;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
}

.mt-3 {
  margin-top: 1rem !important;
}

.BBT {
  display: flex;
  justify-content: center;
}