.card {
  background-color: black;
}
.input-fields {
  text-align: center;
  color: white;
  height: 632px;
  padding-top: 0;
}
.input-fields input {
  display: block;
  padding: 10px;
  margin: 25px;
  width: 300px;
  border: 1px solid skyblue;
  border-radius: 5px;
  position: relative;
  left: 40%;
  right: 50%;
}
.signup-btn {
  padding: 7px;
  border: 1px solid #1c1c59;
  border-radius: 10px;
  background-color: skyblue;
  color: white;
  width: 76px;
  font-size: 15px;
}
.demo {
  height: 30px;
}
